<div class="header">
  <h2>Try InfluxDB</h2>
</div>
<div class="output">
  <dl>
    <div *ngFor="let one of history">
      <dt>
        $ <span (click)="run(one.command)">{{ one.command }}</span>
      </dt>
      <dd class="response">
        <p *ngIf="one.output == undefined">(empty)</p>
        <p class="error" *ngIf="one.output != undefined && one.output.success === false">
          {{ one.output.error }}
        </p>
        <pre class="success"
          *ngIf="one.output != undefined && one.output.success === true">{{ one.output.data }}
        </pre>
      </dd>
    </div>
  </dl>
</div>
<div class="input">
  <span class="prompt">&nbsp;&nbsp;&gt;</span>
  <input #commandInput [(ngModel)]="command" (keyup.arrowup)="getHistory(-1)" (keyup.arrowdown)="getHistory(1)" (keyup.enter)="submitCommand()" placeholder="type command here"/>
</div>
<div class="footer">
  <p>Powered by yfsoftcom</p>
</div>
