<div class="header">
  <h2>Try InfluxQL <a target="_blank" href="https://docs.influxdata.com/influxdb/v1.7/query_language/">help</a></h2>
</div>
<div #commandOutput class="output">
  <dl>
    <div *ngFor="let one of outputs">
      <dt>
        $ <span (click)="run(one.command)">{{ one.command }}</span>
      </dt>
      <dd class="response">
        <p *ngIf="one.output == undefined">(empty)</p>
        <p class="error" *ngIf="one.output != undefined && one.output.success === false">
          {{ one.output.error }}
        </p>
        <pre class="success"
          *ngIf="one.output != undefined && one.output.success === true">{{ one.output.data }}
        </pre>
      </dd>
    </div>
  </dl>
</div>
<div class="input">
  <span class="prompt">&nbsp;&nbsp;&gt;</span>
  <input #commandInput [(ngModel)]="command" (keyup.arrowup)="getHistory(-1)" (keyup.arrowdown)="getHistory(1)" (keyup.enter)="submitCommand()" placeholder="type influxQL here: select * from light limit 2"/>
</div>
<div class="footer">
  <p>Powered by <a target="_blank" href="http://github.com/yfsoftcom/try-influx">@yfsoftcom</a></p>
</div>


<div class="pannel">
  <div *ngIf="showSetting" class="setting">
    <h2>Settings</h2>
    <input class="large" #hosttInput [(ngModel)]="host" placeholder="localhost" />
    <input #portInput [(ngModel)]="port" placeholder="port" />
    <input #dbInput [(ngModel)]="db" placeholder="db" />
    <button class="btn-save" (click)="saveSetting()">Save</button>
  </div>
  <button class="btn-toggle" (click)="showSetting = !showSetting">Config</button>
</div>
